@font-face {
  font-family: "Open Sans";
  src: url("./open-sans/OpenSans-Regular.ttf");
}

body {
  background-color: #f9fafc;
  font-family: "Open Sans";
  margin: 20px 30px 20px 30px;
  height: 100%;
}
a:link {
  color: #69696a;
  text-decoration: none;
}
a:visited {
  color: #69696a;
  text-decoration: none;
}
nav ul {
  list-style-type: none;
}
nav li {
  color: #69696a;
  font-size: 14px;
  text-decoration: none;
}
h1 {
  font-size: 14px;
}
h2 {
  font-size: 50px;
}
blockquote {
color: #69696a;
border-left: 8px solid #69696a;
margin: 50px 0 50px;
padding-left: 20px;
font-size: 12px;
}

@media only screen and (max-width: 767px) {
  h1 {
    text-align: left;
    margin-top: 50px;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    list-style-type: none;
  }

  nav li {
    color: #69696a;
    font-size: 14px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #69696a;
    text-decoration: none;
  }

  h2 {
    text-align: left;
    margin-top: 70px;
  }

  blockquote {
    color: #69696a;
    border-left: 8px solid #69696a;
    margin: 50px 0 50px;
    padding-left: 20px;
    font-size: 12px;
  }

  button {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 32px;
    width: 100%;
    border-radius: 40px;
    padding: 14px 40px;
  }

  .Circle {
    visibility: hidden;
  }
}

@media only screen and (min-width: 768px) {
  button {
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    border-radius: 40px;
    padding: 2px 10px;
    width: auto;
  }
  
  .Navigation {
    display: flex;
    flex-direction: row;
    background-size: auto;
  }  

  .Navigation > h1 {
    font-size: 14px;
    display: flex;
    text-align: left;
    flex-grow: 8;
    padding: 2px;
  }
  .Navigation > ul {
    display: flex;
    flex-grow: 1;
    font-size: 14px;
    float: right;
    padding: 2px;
    justify-content: space-around;
  }
  .Navigation > nav > li {
    padding: 5px;
    flex-grow: 1;
  }
  
  .flex-container {
    display: flex;
    flex-direction: row;
    margin-top: 140px;
  }

  
  .Description {
    display: flex;
    flex-direction: column;
    background: #f9fafc;
    flex: 1;
  }
  
  button.Scroll {
    align-items: center;
    margin-bottom: 10px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%);
  }

  .Circle {
    display: flex;
    flex: 1;
    background-color: #f9fafc;
  }

  #first-circle {
    display: flex;
    background: rgba(247, 136, 167, 0.6);
    opacity: 0.5;
    border-radius: 75%;
    height: 200px;
    width: 200px;
    position: absolute;
    right: 150px;
    top: 250px;
  }

  #second-circle {
    display: flex;
    background: rgba(247, 193, 162, 0.7);
    opacity: 0.75;
    border-radius: 75%;
    height: 175px;
    width: 175px;
    position: absolute;
    right: -25px;
    top: 100px;
  }

  #third-circle {
    display: flex;
    background: rgba(207, 130, 213, 0.6);
    opacity: 0.75;
    border-radius: 75%;
    height: 125px;
    width: 125px;
    position: absolute;
    right: -50px;
    top: -25px;
  }

}
